.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form-container {
  box-shadow: 3px 5px 15px black;
  padding: 30px 90px;
  border-radius: 16px;
}
form,
.form-control {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.sign-in,
.sign-up {
  margin-top: 20px;
  background-color: lightseagreen;
  color: aliceblue;
  padding: 10px 20px;
  border: none;
  border-radius: 16px;
}

.error ul {
  padding: 0;
  margin: 0;
  color: red;
  list-style: none;
}
li {
  list-style: none;
}

.error {
  color: red;
}

.form-control input {
  border: 1px solid lightgray;
  border-radius: 5px;
}
