{% extends "base.html" %}
{% load static %}
{% block css_file %}
<link rel="stylesheet" href='{% static 'blog/includes/header.css' %}'>
<link rel="stylesheet" href='{% static 'blog/login.css' %}'>

{% endblock  %}
{% block content %}
{% include "blog/includes/header.html" %}
<div class='container'>
    <form class='form-container' action="{% url "sign-up" %}" method="post">
        {% csrf_token %}
        {% for item in form %}
        <div class="form-control {% if item.errors %}error{% endif %}">
            {{item.label_tag}}
            {{item}}
            {{item.errors}}
        </div>
        {% endfor %}
        <button class='sign-up'>Sign Up</button>

    </form>
</div>
{% endblock  %}